.contact-container{
    height: 90vh;
    width: 100vw;
    background-color: #0d2b46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact-title{
    text-align: center;
    color: #9a0f0f;
    font-size: 30px;
    margin: 60px;
} 
.cards-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-card{
    height: 200px;
    width: 400px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;
}
.contact{
    height: 40px;
    font-size: 30px;
}
.mail{
    font-size: 21px;
    font-weight: 700;
}
.contact-type{
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.contact-title:hover{
    color: #fff;
}

.contact-card:hover{
    color: #FFF;
    background-color: #b92c2c;
    border: 2px solid #FFF;
}
@media screen and (max-width: 789px){
    .contact-container{
        height: 100%;
    }
    .contact-title{
        font-size: 22px;
    } 
    .cards-container{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .contact-card{
        width: 85%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .contact-type{
        font-size: 18px;
    }
    .mail-mob-view{
        font-size: 18px;
    }
    .mail{
        font-size: 18px;
        font-weight: 500;
    }
}